@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: #FFFFFF url("../images/christian-background-loops.jpg") no-repeat left top;
}

#page_position_content
{
	margin-top: 19px;
	margin-bottom: -1px;
}

#pu85-4
{
	width: 0.01px;
	margin-left: 57px;
	position: relative;
}

#u85-4
{
	z-index: 2;
	margin-right: -10000px;
}

#u670-4
{
	z-index: 37;
	width: 255px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #D764A8;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	font-family: germania-one, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 9px;
}

#menuu847
{
	z-index: 6;
	width: 380px;
	margin-top: 2px;
}

#u1887
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1890
{
	width: 74px;
	padding-bottom: 17px;
}

#u1890:hover
{
	margin: 0px;
}

#u1890:active
{
	margin: 0px;
}

#u872
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 76px;
}

#u873
{
	width: 74px;
	padding-bottom: 17px;
}

#u1890.MuseMenuActive,#u873:hover
{
	margin: 0px;
}

#u873:active
{
	margin: 0px;
}

#u889
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 152px;
}

#u892
{
	width: 74px;
	padding-bottom: 17px;
}

#u873.MuseMenuActive,#u892:hover
{
	margin: 0px;
}

#u892:active
{
	margin: 0px;
}

#u1893-4,#u876-4,#u895-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u896
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 228px;
}

#u899
{
	width: 75px;
	padding-bottom: 17px;
}

#u892.MuseMenuActive,#u899:hover
{
	margin: 0px;
}

#u899:active
{
	margin: 0px;
}

#u903
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 305px;
}

#u906
{
	width: 75px;
	padding-bottom: 17px;
}

#u899.MuseMenuActive,#u906:hover
{
	margin: 0px;
}

#u906:active
{
	margin: 0px;
}

#u906.MuseMenuActive
{
	margin: 0px;
}

#u901-4,#u908-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#pu676-9
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 5px;
	position: relative;
}

#u676-9
{
	z-index: 41;
	width: 189px;
	min-height: 103px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #D9278F;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u676-5
{
	text-align: justify;
}

#u677-3
{
	z-index: 50;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 104px;
}

#u678
{
	z-index: 53;
	width: 169px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu683
{
	width: 0.01px;
	margin-left: 3px;
	position: relative;
}

#u683
{
	z-index: 55;
	width: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 205px;
}

#u688-7
{
	z-index: 57;
	width: 186px;
	min-height: 71px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #EF6698;
	position: relative;
	margin-right: -10000px;
}

#u676-2,#u676-3,#u688-2
{
	text-align: center;
}

#u694-5
{
	z-index: 64;
	width: 189px;
	min-height: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #CE3A91;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 180px;
}

#u695
{
	z-index: 69;
	width: 176px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 4px;
}

#u713
{
	z-index: 71;
	width: 365px;
	height: 83px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: 7px;
	margin-top: 3px;
	position: relative;
	background: #FFFFFF url("../images/anigifeua.gif") no-repeat left top;
}

#page .verticalspacer
{
	clear: both;
}

