@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: #FFFFFF url("../images/christian-background-loops.jpg") no-repeat left top;
}

#page_position_content
{
	margin-top: 19px;
	margin-bottom: -1px;
}

#pu85-4
{
	width: 0.01px;
	margin-left: 57px;
	position: relative;
}

#u85-4
{
	z-index: 2;
	margin-right: -10000px;
}

#u730-4
{
	z-index: 37;
	width: 199px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #D764A8;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	font-family: germania-one, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 38px;
}

#menuu847
{
	z-index: 6;
	width: 380px;
	margin-top: 2px;
}

#u1887
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1890
{
	width: 74px;
	padding-bottom: 17px;
}

#u1890:hover
{
	margin: 0px;
}

#u1890:active
{
	margin: 0px;
}

#u872
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 76px;
}

#u873
{
	width: 74px;
	padding-bottom: 17px;
}

#u1890.MuseMenuActive,#u873:hover
{
	margin: 0px;
}

#u873:active
{
	margin: 0px;
}

#u889
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 152px;
}

#u892
{
	width: 74px;
	padding-bottom: 17px;
}

#u873.MuseMenuActive,#u892:hover
{
	margin: 0px;
}

#u892:active
{
	margin: 0px;
}

#u1893-4,#u876-4,#u895-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u896
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 228px;
}

#u899
{
	width: 75px;
	padding-bottom: 17px;
}

#u892.MuseMenuActive,#u899:hover
{
	margin: 0px;
}

#u899:active
{
	margin: 0px;
}

#u903
{
	width: 75px;
	min-height: 34px;
	margin-right: -10000px;
	left: 305px;
}

#u906
{
	width: 75px;
	padding-bottom: 17px;
}

#u899.MuseMenuActive,#u906:hover
{
	margin: 0px;
}

#u906:active
{
	margin: 0px;
}

#u906.MuseMenuActive
{
	margin: 0px;
}

#u901-4,#u908-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#ppu731
{
	width: 0.01px;
	margin-top: 5px;
	position: relative;
}

#pu731
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u731
{
	z-index: 41;
	width: 195px;
	position: relative;
}

#u737
{
	z-index: 51;
	width: 190px;
	margin-top: 23px;
	position: relative;
}

#pu736-8
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u736-8
{
	z-index: 43;
	width: 171px;
	min-height: 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C3547D;
	text-align: center;
	position: relative;
}

#u742-8
{
	z-index: 53;
	width: 171px;
	min-height: 40px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #5959B3;
	text-align: center;
	margin-top: 3px;
	position: relative;
}

#u749
{
	z-index: 61;
	width: 175px;
	margin-top: 4px;
	position: relative;
}

#u754
{
	z-index: 63;
	width: 370px;
	height: 88px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-left: 4px;
	margin-top: 5px;
	position: relative;
	background: #FFFFFF url("../images/londres.gif") no-repeat left top;
}

#page .verticalspacer
{
	clear: both;
}

