#u85-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u1890
{
	background-color: #A85DA8;
	position: relative;
}

#u1890:hover
{
	background-color: #999999;
}

#u1890:active
{
	background-color: #6B6B6B;
}

#u873
{
	background-color: #A85DA8;
	position: relative;
}

#u873:hover
{
	background-color: #999999;
}

#u873:active
{
	background-color: #6B6B6B;
}

#u892
{
	background-color: #A85DA8;
	position: relative;
}

#u892:hover
{
	background-color: #999999;
}

#u892:active
{
	background-color: #6B6B6B;
}

#u899
{
	background-color: #A85DA8;
	position: relative;
}

#u899:hover
{
	background-color: #999999;
}

#u899:active
{
	background-color: #6B6B6B;
}

#menuu847,#u1887,#u872,#u889,#u896,#u903
{
	position: relative;
}

#u906
{
	background-color: #A85DA8;
	position: relative;
}

#u906:hover
{
	background-color: #999999;
}

#u906:active
{
	background-color: #6B6B6B;
}

#u1890.MuseMenuActive,#u873.MuseMenuActive,#u892.MuseMenuActive,#u899.MuseMenuActive,#u906.MuseMenuActive
{
	background-color: #E21E79;
}

#u1893-4,#u876-4,#u895-4,#u901-4,#u908-4
{
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

